$primary-color: #C07767;
$primary-colorDark: #AD6859;
$primary-colorLight: #e4aea245;
$minor-fontColor: #ffffffc0;
$hover-color: #F9F9F9;
$primary-backgroundColor: #FFF9F4;
$grey: #5B5B5B;
$greyLight: #C4C4C4;
$yellow: #E6D7B2;
$yellow-hovor: #FFE5A3;

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.hp-logo{
  position: relative;
}
.hp-logo-timer{
  position: absolute;
  left: 161px;
  top: 57px;
  animation: spin 2s linear infinite;
}

body{
  margin: 0px;
  background-color: $primary-backgroundColor;
  color: #5B5B5B;
}
.hp-nav{
  background-color:$primary-color;
  display: flex;
  align-items: center;
  height: 55px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.hp-navlogo{
  margin: 10px;
  position: relative;
  top: 9px;
}
.hp-main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  flex-direction: column;
  .hp-main-subtitle{
    font-size: 20px;
    position: relative;
    top: -70px;
    left:60px;
  }
}
.hp-main-actionCall{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F3E6DC;
  height: 230px;
  font-size: 36px;
  line-height:1.5;
  font-weight: 300;
  transition: all 0.2s ease;
  &:hover{
    color: #fff;
    background-color: #d4c9c1;
  }
}

.hp-signup-button{
  width: 300px;
  height: 50px;
  border-radius: 120px;
  color: #676767;
  font-size: 20px;
  border: 1px solid $primary-color;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all  0.3s ease;
  .hp-signup-img{
    position: relative;
    left: -15px;
    top: 2px;
  }
  &:hover{
    font-size: 21px;
    background-color: $hover-color;
    color: $primary-color;
  }
}
.hp-signOut-button{
  width: 100px;
  height: 50px;
  border-radius: 120px;
  color: #676767;
  font-size: 16px;
  border: 1px solid $primary-color;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: $hover-color;
    color: $primary-color;
    box-shadow: 0px 1px 5px rgba(253, 253, 253, 0.3);
  }
}


.hp-explain{
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 400px;
}
.explain-curve-background-up{
  background-color: $primary-color;
  position: relative;
  top:25px;
  width: 100%;
  height: 80px;
  clip-path: polygon(0 0%, 100% 40%, 100% 100%, 0 100%);
 
}
.explain-curve-background{
  background-color: $primary-color;
  position: relative;
  width: 100%;
  height: 200px;
  color: $primary-backgroundColor;
  clip-path: polygon(0 -10%, 100% 0, 100% 50%, 0 100%);
  
  h1{
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 500;
  }
  p{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 300;
    margin-top: 15px;
  }
}
.explain-iconContainer{
  position:absolute;
  bottom: -8px;
  animation: moveClock 15s infinite ease-in-out;
  
}

.explain-main-content{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: center;
  height:auto;
  margin: 70px 10px;
}
.explain-content-img{
  margin-left: 20px;
}
.explain-content-text{
  padding: 60px;
  h1{
    font-size: 36px;
    font-weight: 500;
  }
  p{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 300;
  }
  
}

@keyframes moveClock {
  0% {
    bottom: -2%;
    left: 5%;
    transform: rotate(0deg);
  }

  50% {
    bottom: 31%;
    left: 70%;
    transform: rotate(360deg);
  }
 
  100% {
    bottom: -2%;
    left: 5%;
    transform: rotate(0deg);
  }
}
.explain-main{
  position: relative;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:30px;
}
.explain-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  background: $yellow-hovor;
  border-radius: 120px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover{
    background: $yellow;
    color: $primary-backgroundColor;
    font-weight: 700;
    box-shadow: 0px 1px 5px rgba(253, 253, 253, 0.3);
    width: 225px;
    height: 55px;
  }
  
}

.explain-button-active{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 55px;
  background: $primary-color;
  color:  #fff;
  border-radius: 120px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 5px rgba(5, 5, 5, 0.3);
  &:hover{
    color: $primary-backgroundColor;
    font-weight: 700;
    box-shadow: 0px 1px 5px rgba(253, 253, 253, 0.3);
    width: 225px;
    height: 55px;
  }
}
.hp-footer{
  height: 250px;
  background-color: $primary-color;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  p{
    margin-left: 20px;
  }
  li{
    width: 200px ;
    list-style: none;
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: 200;
    cursor: pointer;
    &:hover{
      color: $primary-colorDark;
    }
  }
}
.hp-footer-logo{
  display: flex;
  justify-content: center;
}

//------------------connecttoGoogle
.googleConnect{
  background: #ffffff; 
  border: 1px solid $primary-color;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  gap: 5px;
  font-size: 16px;
  color: $grey;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background-color: $hover-color;
    color: $primary-color;
    box-shadow: 0px 1px 5px rgba(253, 253, 253, 0.3);
    height: 42px;
  }
}



.test{
  background-color: #C07767;
  display: flex;
  border: 1px solid #C07767;
  height: auto;
}
.testList{
  display: flex;
}
*button{
  cursor:pointer;
}


// ---------------------------------------------Eventsidebar------------------------------------------------



.addEvent-sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  background-color: $primary-backgroundColor;
  z-index: 102;
  box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.1);
  input{
    border: none;
  }
}
// .addEvent-sidebar{
//   width: 300px;
//   display: none;
//   position: absolute;
//   &.show{
//     display: block;
//     transform: translateX(0);
//   }

// }
.sidebar-overlay{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 200vh;
  height: 200vh;
  background-color: rgba(255, 255, 255, 0.108);
}

.addEvent-sidebar-container{
  position: relative;
  width: 100%;
  z-index: 102;
  div{
    margin-top: 5px;
  }

}

.sidebar-title{
  display: flex;
  justify-content: flex-end;
  
  border-radius: 5px;
  background-color: #ffffff00;
  font-weight: bolder;
  transition: all 0.2s ease;
  input{
    height: 30px;
    width: 100%;
    font-size: 16px;
  }
}
.sidebar-delete1{
  position: relative;
  display: flex;
  align-items: center;
  width: 10px;
  height: 30px;
  justify-content: center;
  background-color: #ffffff00;
  border: none;
  color: $greyLight;
  &:hover{
    background-color: $hover-color;
    color: $grey;
    width: 12px;
    height: 32px;
  }
}

.sidebar-delete-block{
  z-index: 301;
  position: absolute;
  top: 20px;
  left: -20px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;

  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  &:hover{
      background: $greyLight;
      width: 33px;
      height: 33px;
  }
}
.sidebar-delete-overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 200vh;
  height: 200vh;
  z-index: 150;
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-allday{
  height: 30px;
  display: flex;
  justify-content: flex-end;
  label{
    color: $grey;
    font-size: 14px;
    margin-top: 2px;
    padding: 0px;
  }
  input{
    width: 15px;
    height: 15px;
    margin: 3px;
  }
}

.sidebar-date{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  label{
    flex:auto;
  }
  input{
    flex:auto;
    height: 30px;
    border-radius: 5px;
 
  }
}
.sidebar-note{
  input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    
  }
}

.sidebar-project{
  display: flex;
  align-items: center;
  gap: 5px;
  
  select{
    border: none;
    height: 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    
  }
}
.sidebar-project-select{
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  
}
.sidebar-project-select-toggle{
  position: absolute;
  right: 5px;
  transition:transform 0.3s ease;
  transform: rotate(180deg);
}
.sidebar-project-selectItems{
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  position:absolute;
  top: 28px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  button{
    border: none;
    background-color: #fff;
    font-size: 14px;
    color: $greyLight;
    height: 30px;
    display: flex;
    align-items: center;
    gap:5px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    &:hover{
      background-color: $hover-color;
    }
  }
}
.sidebar-project-selectItem{
  display: flex;
  align-items: center;
  margin: 5px;
  height: 30px;
  font-size: 14px;
  text-indent: 5px;
  cursor: pointer;
  p{
    margin-left: 5px;
  }
  &:hover{
    border-radius: 5px;
    background-color: $hover-color;
  }
}
.sidebar-project-createProject{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 8px;
  top: 20%; 
  left: 50%; 
  height: 180px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 102;
  cursor: pointer;
  .sidebar-project-createProject-box{
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    div{
      margin: 10px;
      font-size: 18px;
      
    }
    input{
      border: 1px solid $greyLight;
      width: 180px;
      height: 40px;
      color: $grey;
      border-radius: 5px;
      text-indent: 5px;
  }
    .createProject-create{
      background-color: $primary-color;
      color: #ffffff;
      height: 40px;
      width: 120px;
      border-radius: 10px;
      font-size: 14px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
          height: 45px;
          width: 125px;
          font-size: 15px;
          background-color: $primary-colorDark;
      }
    }
    .createProject-close{
      color: $greyLight;
      position: absolute;
      top:-15px;
      right: 10px;
      border:none;
      background-color: #ffffff00;
      font-size: 14px;
      &:hover{
        color: $grey;
        font-size:16px;
    }
    }
  }
  
}
.sidebar-cancel{
  margin:10px 5px 0px 0px;
  background: $greyLight;
  color: #fff;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  &:hover{
      background: $grey;
      width: 85px;
      height: 35px;
  }
}

.sidebar-save{
  background: $primary-color;
  color: #fff;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  margin: 10px 5px 0px 0px;
  &:hover{
      background: $primary-colorDark;
      width: 85px;
      height: 35px;
  }
}

.sidebar-delete{
    position: absolute;
    bottom: 0px;
    right: 2px;
    border:none;
    transition: all 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        height: 23px;
        width: 23px;
        background-color: $hover-color;
    }
}


//-----------------------------------------fullcalendar--------------------------------------------
.fc{
  background-color: #ffffff;
  margin: 2px;
  .fc-media-screen{
    margin: 5px;
  }
  .fc-toolbar-title {
    font-size: 1.4em;
    font-weight: normal;
    text-indent: 10px;
    color: $primary-color;

  }
  .fc-button {
    background-color: $primary-backgroundColor;
    border: 1px solid $primary-color;
    color: $primary-color;
   
  }
  .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background-color: $primary-color;
    border: 1px solid $primary-color;
  }
  .fc-button-primary:disabled{
    background-color: $primary-color;
    border: 1px solid $primary-color;
  }
  .fc-button:hover {
    background-color:$primary-color;
  }
  .fc-timegrid-divider{
    padding: 0px;
    height: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.fc-toolbar {
  background-color: $primary-backgroundColor;
  height: 60px;
  border-bottom: none;
  margin-bottom: 20px;
}
.fc-col-header-cell {
  color: $primary-color;
  padding: 10px;
  height: 20px;
  text-align: center;
  position: relative;
  border: none;
  .fc-col-header-cell-cushion{
    font-size: 20px;
    font-weight: 300;
    margin-top: 2px;
  }
  
}
//最上面那個邊
.fc .fc-scrollgrid {
  border-width: 0 0 0 0; /* 外側の枠線消す */

  font-weight: normal;
  background-color: #ffffffc0;
}
.fc-scrollgrid-section{
  height: 0px;
}
//匡線
.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #e9e9e97d;
}
/*　今日の背景 */
.fc .fc-daygrid-day.fc-day-today {
  background: $primary-colorLight;
}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  background: $primary-colorLight;
}

.fc-timegrid-now-indicator {
  background-color: #a25e52;
}
.fc-neutral-bg{
  background-color: #a25e52;
}

.fc .fc-daygrid-day-top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
}

.test{
  width: 30px;
  height: 20px;
  background-color: #fff;
}