$primary-color: #C07767;
$primary-colorDark: #AD6859;
$primary-colorLight: #e4aea245;
$minor-fontColor: #ffffffc0;
$hover-color: #F9F9F9;
$primary-backgroundColor: #FFF9F4;
$grey: #5B5B5B;
$greyLight: #C4C4C4;
$wordGrey: #8a8a8a;


.body{
    max-width: 100%;
    margin: 0px;
    background-color: $primary-backgroundColor;
    color: #5B5B5B;
    font-size: 16px;
    display: flex;
    
  }

h1{
    color: $grey;
}
.main{
    display: flex;
}

.loading-task{
    display: flex;
    align-items: center;
    color: $greyLight;
    font-size:16px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.list{
margin: 15px;
min-width: 365px;
font-size: 16px;
position: relative;
z-index: 24;
    input{
        border: none;
        border-radius: 5px;
        margin: 3px;
        font-size: 12px;
        height: 25px;
        text-indent: 5px;
        width: 115px;
    }
    button{
        border: none;
    }
    hr{
        border: 0.5px solid #e5e5e5;
    }
}

.tasklist-filter{
    display: flex;
    align-items: center;
    margin: 5px;
    
    
    select{
        margin-left: 5px;
        width: 65px;
        height: 23px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.2s ease;

        &:hover{
            background: $hover-color;
            height: 25px;
            box-shadow: 0px 2px 5px rgba(63, 63, 63, 0.1);
        }
    }
}
.list-task-container{
    width: 350px;
}
.list-task{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(63, 63, 63, 0.1);
    margin: 3px;
    width: 100%;
    z-index: 100;
    &:hover{
        background-color: $hover-color;
    }
}
.list-task-draggable{
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
}
.list-task-draggableLine{
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 5px;
    background-color: $primary-color;
    border-radius: 25px;
    box-shadow: -2px 0px 5px $primary-color;
}.above{
    bottom: -7px;
    left: -6px;
}
.below{
    bottom: -7px;
    left: -6px;
}

.list-taskMain{
    flex:auto;
    display: flex;
    align-items: center;
    width: 100%;
}
.list-taskMain-blank{
    flex: auto;
    width: 80px;
    height: 20px;
}
.list-taskMain-date{
    flex: auto;
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: $greyLight;
    font-weight: 400;
    border-radius: 20px;
    // border: 0.5px solid $greyLight;
    background-color: #fff;
    cursor: pointer;
    &:hover{
        background-color: $hover-color;
    }
}
.list-description{
    font-size: 10px;
    color: $wordGrey;
    position: relative;
    left: 50px;
    top: -5px;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.list-taskDetail{
    display: flex;
    margin-left: 10px;
    justify-content: start;
    flex-direction: column;
}

// -----------checkbox---------------
.tasklist-check-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}

.tasklist-check {
    display: none; /* 隐藏默认的复选框 */
    
}

.tasklist-check + label {
    display: inline-block; 
    width: 15px; 
    height: 15px; 
    border: 2px solid #ccc;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px; 
    cursor: pointer;
    position: relative; 
}

.tasklist-check:checked + label {
    background-color: $greyLight; 
    border-color: $greyLight;
}

.tasklist-check:checked + label:after {
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    top: 1px;
}
//taskList の中身-----------
.task-toggleImg{

    position: absolute;
    top: 10px;
    right: 20px;
    transform: rotate(-90deg);
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover{
        // background-color: $greyLight;
        // box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        width: 25px;
        height: 25px;
    }
}

.tasklist-title-container{
    display: flex;
}
.tasklist-title{
    width: 80px;
    height: 23px;
}

.tasklist-projectSelect{
    cursor: pointer;
    border: none;
    width:80px;
    height: 25px;
    background-color: #ffffff00;
    &:hover{
        background-color: $minor-fontColor;
    }
}
.tasklist-projectImg{
    margin-right: 2px;
    position: relative;
}
.tasklist-date-container{
    margin-left: 28px
}
.tasklist-date{
    width:auto;
    font-size: 2px;
    transform: scale(0.9);
    transform-origin: left;
    margin: 2px;
}

.tasklist-delete{
    position: absolute;
    right: 1px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    color: $greyLight;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    cursor: pointer;
    &:hover{
        color: $grey;
        width: 30px;
        height: 30px;
    }
}
.tasklist-delete-block{
    position: absolute;
    top: 20px;
    left: -20px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    &:hover{
        background: $greyLight;
        width: 33px;
        height: 33px;
    }
}


.tasklis-description-container{
    margin-left: 35px;
    display: flex;
    position: relative;
}
.tasklist-description-Img{
  top: 0px;
}
.tasklist-description{
    font-size: 12px;
    overflow: hidden;
    resize: none;
    line-height: 1.5;
    transition: height 0.2s ease;
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    font-size: 12px;
    text-indent: 5px;
}

.tasklist-description.collapsed{
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 30px;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    white-space: normal;
    transition: all 0.2s ease;
    background-color: #fff;
    &:hover{
        width: 270px;
        max-height: 80px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }
}
.tasklist-description.expand{
    white-space: normal;
    overflow: auto;
    width: 250px;
    max-height: 150px;
}
.tasklist-overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 200vh;
    height: 200vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
}

.overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 200vh;
    height: 200vh;
    background-color: rgba(255, 255, 255, 0.2);
}
.tasklist-addTask{
    background: $primary-color;
    color: #fff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    &:hover{
        background: $primary-colorDark;
        width: 85px;
        height: 35px;
    }
    
}


.tasklist-addTask-input{
    background: #fff;
    height: 27px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
.tasklist-addTask-input::placeholder{
    color: $greyLight;
}

.todolist-toggle{
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    width: 370px;
    top: 56px;
    left: 200px;
    padding: 5px;
    background-color: $primary-backgroundColor;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 40;
    transition: transform 0.3s ease-out;
    
}

.todolist-toggle-hidden{
    transform: translateX(-200%);
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    position: fixed;
    width: 370px;
    top: 50px;
    left: 200px;
    padding: 5px;
    background-color: $primary-backgroundColor;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 40;
    transition: transform 0.3s ease-out;
}
